/* Estilos para el componente HeaderDashboard */
.header-dashboard {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Puedes ajustar este valor según sea necesario */
    background-color: var(--body-color); /* Ajusta el color de fondo según tus preferencias */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilos para la lista de navegación */
  .header-dashboard ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para los elementos de la lista de navegación */
  .header-dashboard li {
    font-weight: var(--font-medium);
  }
  
  /* Estilos para los enlaces de navegación */
  .header-dashboard a {
    text-decoration: none;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }
  
  /* Estilo para el título */
  .header-dashboard h1 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  /* Estilo para el enlace activo o en estado de hover */
  .header-dashboard a.active-link,
  .header-dashboard a:hover {
    color: var(--title-color-dark);
  }
  
  /* Estilos para los enlaces del menú en pantalla pequeña */
  @media screen and (max-width: 768px) {
    .header-dashboard ul {
      display: none;
    }
  
    .header-dashboard h1 {
      font-size: var(--small-font-size); /* Ajusta el tamaño de fuente para dispositivos móviles */
    }
  }
  