/* Estilos para el contenedor principal */
.exercise-page-container {
  display: flex;
  overflow-x: hidden;
  margin: auto;
  margin-top: 100px;
}

/* Estilos para la lista-contenedor de ejercicios */
.exercise-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

/* Estilos para cada tarjeta de ejercicio */
.exercise-card {
  background-color: #f1f1f3;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  padding: 1rem;
}

.exercise-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de imagen de ejercicio */
.exercise-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  overflow: hidden;
}

/* Estilos para la imagen de ejercicio */
.exercise-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.exercise-image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Estilos para el número de ejercicio */
.exercise-id {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--button-color);
  font-weight: bold;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  z-index: 1;
}

/* Estilos para el contenido del ejercicio */
.exercise-details {
  padding: 1rem;
}

.exercise-title {
  font-weight: bold;
}

.exercise-details p {
  font-size: 0.86rem;
  color: var(--text-color-dark);
  margin: 0;
}

/* Estilo de los botones recommended y favorites */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para ambos botones */
.button-container .recommended-button,
.button-container .heart-button {
  margin: 20px;
}

/* Estilos comunes para los botones */
.button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.button-container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: all 0.3s;
}

.button-container input:checked ~ svg {
  fill: #075f88;
}

.button-container svg:hover {
  transform: scale(1.1);
}

.button-container input ~ svg {
  fill: #828181;
}

/* Estilos para el botón "Recommended" */
.recommended-button svg {
  height: 34px;
}

/* Estilos para el botón con el corazón */
.heart-button svg {
  height: 24px;
  fill: #070505;
}

.heart-button input:checked ~ svg {
  fill: #ff0303;
}

/* Estilos para el contenedor del formulario */
.add-exercise-container {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.add-exercise-container:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario de añadir ejercicio */
.add-exercise-form {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.add-exercise-label {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilos para los elementos de formulario sin una clase específica */
.add-exercise-form input,
.add-exercise-form textarea,
.add-exercise-form select,
.add-exercise-file-input {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin: 5px 0;
  margin-bottom: 20px;
}

/* Elimina el borde alrededor de los elementos de formulario */
.add-exercise-select,
.add-exercise-file-input {
  appearance: none;
  background: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem;
  cursor: pointer;
}

/* Estilos para el formulario de filtros */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.filter-form {
  padding: 1rem;
  text-align: center;
  max-width: 100%;

}

/* Estilos para la leyenda */
.filter-form legend {
  font-weight: bold;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Estilos para las etiquetas de los campos */
.filter-form label {
  font-weight: bold;
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

/* Estilos para los campos de entrada de texto y select */
.filter-form input[type="text"],
.filter-form select {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

/* Estilos para las casillas de verificación */
.filter-form input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #555;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  margin-right: 0.5rem;
}

.filter-form input[type="text"]:hover,
.filter-form select:hover,
.filter-form input[type="checkbox"]:hover {
  background-color: #e0e0e0;
}

/* Estilos para el foco de los campos de entrada */
.filter-form input[type="text"]:focus,
.filter-form select:focus,
.filter-form input[type="checkbox"]:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-color: #555;
}

/* Estilos para el botón de búsqueda */
.filter-form button[type="submit"] {
  background-color: #7257fa;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.filter-form label[for="recommended"],
.filter-form label[for="favorite"] {
  display: inline-block;
  margin-right: 1rem;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  h1{
    margin-left: 50px;
    font-size: var(--h1-font-size);
  }
  button.buttons {
    margin: 10px 50px;
  }

  .exercise-container {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    margin-top: 100px;
    margin-left: 90px;
    max-width: 70%;
  }

  .exercise-card {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .exercise-title {
    font-size: 1rem;
  }

  .exercise-details p {
    font-size: 0.8rem;
  }

  .recommended-button,
  .heart-button {
    margin: 10px;
  }

  /* Estilos para el formulario de añadir ejercicio */
  .add-exercise-container {
    width: 70%;
    max-width: none;
    margin: 30px auto;
    margin-right: 25px;
    padding: 1rem;
  }

  section.add-exercise-container {
    width: 100%;
    padding: 10px;
  }

  .add-exercise-form {
    max-width: none;
    padding: 1rem;
  }

  /* Estilos para los elementos de formulario */
  .add-exercise-form input,
  .add-exercise-form textarea,
  .add-exercise-form select,
  .add-exercise-file-input {
    margin-bottom: 10px;
    width: 100%;
    font-size: 10px;
  }

  .add-exercise-label {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  /* Estilos para el formulario de filtrar */
  form.filter-form {
    margin-top: 3rem;
  }

  .filter-form {
    padding: 1rem;
    margin-left: 65px;
    text-align: center;
    max-width: 80%;
  }

  /* Estilos para la leyenda */
  .filter-form legend {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  /* Estilos para las etiquetas de los campos */
  .filter-form label {
    font-weight: bold;
    color: #555;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: block;
  }

  /* Estilos para los campos de entrada de texto y select */
  .filter-form input[type="text"],
  .filter-form select {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  /* Estilos para las casillas de verificación */
  .filter-form input[type="checkbox"] {
    background-color: transparent;
    outline: none;
    padding: 0.25rem;
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 0.25rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .add-exercise-container {
    margin-right: 140px;
    margin-top: var(--mb-2-5);
  }
}
