/* Estilos para el contenedor principal */
/* Estilos para el contenedor principal */
.exercise-page-container {
  display: flex;
  overflow-x: hidden;
margin: auto;
margin-top: 100px;;
}

/* Estilos para el contenedor de ejercicios */
.exercise-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

/* Estilos para cada tarjeta de ejercicio */
.exercise-card {
  background-color: #f1f1f3;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  padding: 1rem;
}

.exercise-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
}

/* Estilos para el número de ejercicio */
.exercise-id {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7257fa;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

/* Estilos para el contenedor de imagen de ejercicio */
/* Establecer una relación de aspecto 1:1 para el contenedor de imágenes */
.exercise-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 relación de aspecto */
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  overflow: hidden;
}

/* Estilos para la imagen de ejercicio */
.exercise-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos para la imagen dentro del contenedor */
.exercise-image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Esto mantiene la relación de aspecto y ajusta la imagen sin cortar */
}


/* Estilos para el número de ejercicio */
.exercise-id {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7257fa;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  z-index: 1;
}

/* Estilos para el contenido del ejercicio */
.exercise-details {
  padding: 1rem;
}

.exercise-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: #7257fa;
}

.exercise-details p {
  font-size: 0.86rem;
  color: #6e6b80;
  margin: 0;
}

/* CSS para el botón con el corazón */
.heart-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.heart-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.heart-button svg {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: all 0.3s;
  fill: #e3474f;
}

.heart-button input:checked ~ svg {
  fill: #8c8c8c;
}

.heart-button svg:hover {
  transform: scale(1.1);
}

.heart-button input ~ svg {
  fill: #ff0101;
}

/* CSS para el botón "Recommended" */
.recommended-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.recommended-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.recommended-button svg {
  position: relative;
  top: 0;
  left: 0;
  height: 34px;
  width: 24px;
  transition: all 0.3s;
}

.recommended-button input:checked ~ svg {
  fill: #075f88;
}

.recommended-button svg:hover {
  transform: scale(1.1);
}

.recommended-button input ~ svg {
  fill: #838383;
}

/* CSS para el botón con el corazón */
.heart-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.heart-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 20px 40px;
  border: none;
  outline: none;
}

.heart-button svg {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: all 0.3s;
  fill: #e3474f;
  pointer-events: none;
}

.heart-button input:checked ~ svg {
  fill: #919191;
}

.heart-button svg:hover {
  transform: scale(1.1);
}

.heart-button input ~ svg {
  fill: #ff0000;
}

/* CSS para el botón "Recommended" */
.recommended-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.recommended-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 20px 40px;
  border: none;
  outline: none;
}

.recommended-button svg {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: all 0.3s;
}

.recommended-button input:checked ~ svg {
  fill: #002b81;
}

.recommended-button svg:hover {
  transform: scale(1.1);
}

.recommended-button input ~ svg {
  fill: #888888;
}

/* CSS para el botón de toggle */
.toggle-form-button {
  background-color: #7257fa;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.2s;
}

.toggle-form-button:hover {
  background-color: #543bf8;
}

/* Estilos para el contenedor del formulario */
.add-exercise-container {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.add-exercise-container:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario de añadir ejercicio */
.add-exercise-form {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

.add-exercise-label {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilos para los elementos de formulario sin una clase específica */
.add-exercise-form input,
.add-exercise-form textarea,
.add-exercise-form select,
.add-exercise-file-input {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin: 5px 0;
  margin-bottom: 20px;
}

/* Elimina el borde alrededor de los elementos de formulario */
fieldset {
  border: none; /* Elimina el borde */
}

.add-exercise-select {
  appearance: none;
  background: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem;
  cursor: pointer;
}

.add-exercise-file-input {
  cursor: pointer;
}

/* Estilos para los mensajes de éxito y error */
.success-message,
.error-message {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.error-message {
  color: #e10909;
}

/* Estilos para el botón de agregar ejercicio */
.add-exercise-button {
  background-color: #7257fa;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  outline: none; /* Esta línea quitará el borde gris */
}

.add-exercise-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-exercise-button:hover {
  background-color: #543bf8;
}
/* Estilos para el formulario de filtros */
.filter-form {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.filter-form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

.filter-form input[type="text"],
.filter-form select {
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  flex: 1;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  align-self: stretch;
  font-family: 'Montserrat', sans-serif; 
}

.filter-form input[type="checkbox"] {
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  flex: 0;
  align-self: center;
}


.filter-form input[type="text"]:hover,
.filter-form select:hover,
.filter-form input[type="checkbox"]:hover {
  background-color: #ddd;
}

.filter-form input[type="text"]:focus,
.filter-form select:focus,
.filter-form input[type="checkbox"]:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-color: #555;
}
