
.info-exercise {
    width: 30vw;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .info-exercise h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
  }
  
  .info-exercise h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #555;
  }
  
  .info-exercise label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #777;
  }
  
  .info-exercise input[type="text"],
  .info-exercise textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .info-exercise textarea {
    resize: vertical;
  }
  
  .info-exercise .buttons {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 40px;
    text-align: center;
  }
  
  .info-exercise p.error {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  
  .info-exercise p.loading {
    text-align: center;
    font-style: italic;
  }
  .button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  
  }



  /* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .info-exercise {
    width: 80vw; 
    margin: 70px 0; 
    margin-left: 60px;
    padding: 20px;
  }

  .info-exercise h2 {
    font-size: var(--h2-font-size); 
    margin-bottom: 12px; 
  }

  .info-exercise label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .info-exercise input[type="text"],
  .info-exercise textarea {
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 2px;
  }

 



}
