.app-container {
  display: flex;
  overflow-x: hidden;
  margin: 50px;
}

.main-content {
  margin-left: 125px;
  padding: var(--mb-2);
  width: calc(100% - 125px);
  box-sizing: border-box;
}

.main-content h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.main-content p {
  font-size: var(--normal-font-size);
  margin-top: var(--mb-1);
}

.main-content div {
  margin-top: var(--mb-2);
}

/* Estilos para la versión móvil de .main-content */
@media (max-width: 768px) {
  .app-container {
    display: flex;
    overflow-x: hidden;
    margin: var(--mb-2) 0;
  }

  .main-content {
    padding: var(--mb-2);
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 0;
  }

  .main-content h2 {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }

  .main-content p {
    font-size: var(--small-font-size);
    margin-top: var(--mb-1);
  }

  .main-content div {
    margin-top: var(--mb-1);
  }
}
/* Estilos generales del componente */
.section-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.percentage-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.percentage-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  font-weight: bold;
}

.green-circle {
  background-color: #4caf50;
  color: #fff;
}

.blue-circle {
  background-color: #2196F3;
  color: #fff;
}

.info-text {
  font-size: 0.8rem;
  color: #777;
}

/* Estilos para la lista de ejercicios */
.exercise-list {
  list-style: none;
  padding: 0;
}

.exercise-list li {
  margin-bottom: 1rem;
}

.exercise-link {
  display: block;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  color: #333;
}

.exercise-link:hover {
  background-color: #f0f0f0;
}

/* Estilos para el gráfico de barras */
.chart-container {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para la versión móvil */
@media (max-width: 768px) {
  .section-heading {
    font-size: 1.3rem;
  }

  .percentage-text {
    font-size: 0.9rem;
  }

  .percentage-circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .info-text {
    font-size: 0.7rem;
  }

  .exercise-link {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
}
