/* Estilos generales */
.app-container {
  display: flex;
  overflow-x: hidden;
  margin: 100px;
}

/* Estilos para el contenido principal */
.main-content {
  padding: var(--mb-2);
  margin: auto;
}

.main-content h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.main-content p {
  font-size: var(--normal-font-size);
  margin-top: var(--mb-1);
}

.main-content div {
  margin-top: var(--mb-2);
}
.section-heading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.exercise-list {
  list-style-type: none;
  padding: 0;
}

.exercise-list li {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.exercise-link {
  text-decoration: none;
  color: #333;
}

.info-text {
  display: block;
  font-size: 0.9em;
  color: #666;
}


/* Enlaces de ejercicios */
.exercise-link {
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s ease;
}

.exercise-link:hover {
  background-color: #f0f0f0;
}

/* Texto informativo */
.info-text {
  font-size: 14px;
  color: #888;
}

/* Estadisticas  */

.circle-container {
  display: flex;
}

.circle {
  flex: 1; 
}


/* Estilos para la versión móvil de .main-content */
@media (max-width: 768px) {
  .app-container {
    display: flex;
    overflow-x: hidden;
    margin: var(--mb-2) 0;
  }

  .main-content {
    padding: var(--mb-2);
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 0;
  }

  .main-content h2 {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }

  .main-content p {
    font-size: var(--small-font-size);
    margin-top: var(--mb-1);
  }

  .main-content div {
    margin-top: var(--mb-1);
  }
}
