/* Estilos generales */
.app-container {
  display: flex;
  overflow-x: hidden;
  margin: 50px;
}

/* Títulos */
.section-heading {
  font-size: 24px;
  margin: 20px 0;
}

/* Texto de porcentaje */
.percentage-text {
  font-size: 18px;
  margin: 10px 0;
}

/* Lista de ejercicios */
.exercise-list {
  list-style-type: none;
  padding: 0;
}

.exercise-list li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Enlaces de ejercicios */
.exercise-link {
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s ease;
}

.exercise-link:hover {
  background-color: #f0f0f0;
}

/* Texto informativo */
.info-text {
  font-size: 14px;
  color: #888;
}

/* Estilos para los elementos de gráficas de pastel */
/* Estilos para las gráficas de pastel */
.victory-pie {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

/* Estilo para el contenedor de los gráficos de pastel */
.victory-pie-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Estilo para cada gráfico de pastel */
.victory-pie-chart {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para las etiquetas del gráfico de pastel */
.victory-pie-label {
  font-size: 14px;
  fill: black;
  text-anchor: middle;
}

/* Estilo para el título de cada gráfico de pastel */
.chart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilo para el porcentaje dentro del gráfico de pastel */
.chart-percentage {
  font-size: 16px;
  text-anchor: middle;
  fill: #333;
}

/* Estilo para los colores de los segmentos del gráfico de pastel */
.victory-pie-slice {
  fill: transparent;
  transition: fill 0.3s ease;
}

/* Estilo para los colores de los segmentos al hacer hover */
.victory-pie-slice:hover {
  fill: #4caf50; /* Cambia el color al hacer hover */
  cursor: pointer;
}

/* Estilo para los colores de otros segmentos al hacer hover */
.victory-pie-slice:not(:hover) {
  fill: #ccc; /* Cambia el color de los otros segmentos al hacer hover en uno */
}


/* Estilos para el contenido principal */
.main-content {
  margin-left: 125px;
  padding: var(--mb-2);
  width: calc(100% - 125px);
  box-sizing: border-box;
}

.main-content h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.main-content p {
  font-size: var(--normal-font-size);
  margin-top: var(--mb-1);
}

.main-content div {
  margin-top: var(--mb-2);
}

/* Estilos para la versión móvil de .main-content */
@media (max-width: 768px) {
  .app-container {
    display: flex;
    overflow-x: hidden;
    margin: var(--mb-2) 0;
  }

  .main-content {
    padding: var(--mb-2);
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 0;
  }

  .main-content h2 {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }

  .main-content p {
    font-size: var(--small-font-size);
    margin-top: var(--mb-1);
  }

  .main-content div {
    margin-top: var(--mb-1);
  }
}
