
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(255, 255, 255);
  margin-bottom: 60px; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  z-index: 2; 

}


.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  align-content: center;
}

.person-data {
  text-align: center;
  margin: 20px;
}

.home-title {
  font-size: 36px;
  margin-bottom: 0.5rem;
}

.home-subtitle {
  position: relative;
  font-size: 16px;
  padding-left: 2rem;
  font-weight: normal;
  margin: 5px;
}

.home-subtitle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(98, 96, 93);
  left: 0;
  top: 1rem;
  margin: 2px;
}

.home-description {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
}

.video-container {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; /* Centrar horizontalmente */
}

.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  animation: profile-animate 8s ease-in-out infinite 1s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  background-color: gray;
}

.button-flex svg {
  margin-right: 5px;
  width: 14px; 
  height: 14px;
}
@media screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr; 
    text-align: center;
  }

  .person-data {
    margin: 10px;
  }

  .home-title {
    font-size: 28px; 
  }

  .home-description {
    max-width: 100%;
  }

  .video-container {
    width: 200px;
    height: 200px;
  }

  .button-flex {
    margin: 5px;
  }
  

  body {
    padding-bottom: 220px; 
  }
}
