body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--body-color); /* Utiliza la variable --body-color */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--text-color-dark); /* Utiliza la variable --text-color-dark */
  color: var(--container-color); /* Utiliza la variable --container-color */
  text-align: center;
  padding: 20px;
  z-index: var(--z-modal); /* Utiliza la variable --z-modal */
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  align-content: center;
}

.person-data {
  text-align: center;
  margin: 20px;
}

.home-title {
  font-size: var(--h1-font-size);
  margin: var(--mb-0-5) 0; 
}

.home-subtitle {
  position: relative;
  font-size: var(--medium-font-size); 
  padding-left: 2rem;
  font-weight: var(--font-normal); 
  margin: 5px;
  color: var(--text-color-dark)
}

.home-subtitle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(98, 96, 93);
  left: 0;
  top: 1rem;
  margin: 2px;
}

.home-description {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
}

.video-container {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; 
}

.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  animation: profile-animate 8s ease-in-out infinite 1s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  background-color: var(--button-color);
}

.button-flex svg {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .person-data {
    margin: 10px;
  }

  .home-title {
    font-size: var(--h1-font-size);
  }

  .home-description {
    max-width: 100%;
  }

  .video-container {
    width: 200px;
    height: 200px;
  }

  .button-flex {
    margin: 5px;
  }

  body {
    padding-bottom: 220px;
  }
}
