.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-content: center; 
  width: 80%;
  margin: 30px 0px;
}

.exercise-image-container {
  width: 150px; 
  height: 150px; 
  overflow: hidden;
}

.exercise-image img {
  width: 300px; 
  height: 300px;

}


/* Estilos para cada tarjeta de ejercicio */
.exercise-card {
  width: 100%; 
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
  position: relative;
  text-align: center;
}

/* Estilos para el contenido del ejercicio */
.exercise-card .exercise-details {
  color: #6e6b80;
  font-size: 0.86rem;
  margin: 0;
}

.exercise-card .exercise-title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

/* Estilos para las im치genes */
.exercise-card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

/* Estilos para la flecha */
.exercise-card .exercise-arrow {
  position: absolute;
  background: #7257fa;
  padding: 0.4rem;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-card .exercise-arrow > i {
  transition: 0.2s;
  color: #ffffff;
}

/* Efectos hover */
.exercise-card:hover .exercise-title {
  color: #7257fa;
}

.exercise-card:hover .exercise-arrow {
  background: #111;
}

.exercise-card:hover .exercise-arrow i {
  transform: translateX(3px);
  color: #ffffff;
}
/* Estilos para la versi칩n m칩vil est치n en el css de exercisePage */
