/* Estilos para pantallas grandes */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
  border-radius: 10px;
  padding: 20px;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  border-radius: var(--buttonBorderRadius);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.321);
  background-color: var(--containers);
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: var(--buttonBorderRadius);
  font-size: 16px;
  background-color: var(--containers);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input:focus {
  outline: none;
  border-color: var(--container-color);
  box-shadow: 0px 0px 6px rgba(238, 50, 50, 0.5);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: var(--buttonBorderRadius);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--container-color);
  color: var(--body-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #d3e71b;
}

.login-signup {
  font-size: 16px;
  color: var(--container-color);
  margin-top: 20px;
}

.login-signup a {
  color: var(--container-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.login-signup a:hover {
  color: #d3e71b;
}

/* Estilos para pantallas medianas y pequeñas */
@media screen and (max-width: 768px) {
  .login-container {
    max-width: 300px;
  }

  .login-title {
    font-size: 20px;
  }

  .login-subtitle {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .login-input {
    font-size: 14px;
    padding: 8px;
  }

  .login-button {
    font-size: 14px;
    padding: 8px;
  }

  .login-signup {
    font-size: 14px;
  }
}
