/* Estilos para el componente Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  width: 150px; 
  padding: 20px 0; 
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

/* Estilos para los íconos */
.sidebar i {
  font-size: 24px;
  margin-right: 10px; 
}

/* Estilos para los enlaces */
.sidebar a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center; 
  padding: 10px 0;
  font-size: 14px; 
}

/* Estilos para los enlaces cuando se les pasa el mouse por encima */
.sidebar a:hover {
  background-color: #555;
  border-left: 3px solid #6912ff;
}

/* Estilos para los enlaces activos (página actual) */
.sidebar a.active {
  color: #fff;
}
