
/* Css para la tarjeta de usuarios */

.info-exercise.custom {
    width: 50vw; 
    margin: 0 auto; 
    max-width: 100%; 
  }

  .button-container {
    text-align: center; 
    margin: 20px; 
  }
  
  .button-container .buttons {
    display: inline-block;
  }
  
  h2,
  h3{
    text-align: center;
  }
.exercise-card.custom{
    cursor:auto;
}

