
/* Css para la tarjeta de usuarios */

.info-exercise.custom {
    width: 70vw; 
    max-width: 100%; 
  }

  .button-container {
    display: flex;
    text-align: center; 
    margin:  0 auto; 
  }
  

  
  h2,
  h3{
    text-align: center;
  }
section.exercise-card.custom{
    cursor:auto;
}
.user-container{
margin:0 auto;
}