/* Variables de colores para uso general (ejemplo para gastarlas color: var(--background)*/

:root {
    --fontFamily: 'Montserrat', sans-serif;
    --colorFont: #383E56;
    --White: antiquewhite;
    --containers: #22394e;
    --background: #D1D4C9;
    --title: #FB743E;
    --buttonBorderRadius: 5px;
    --buttonSize: 50px;
    --buttonColor:#556E53;
    --ColorAnt: #212121;

}