/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&family=Poppins:wght@300&family=Raleway:wght@100;300;700&family=Roboto:ital,wght@1,400;1,700&display=swap");

/* Grupo de colores principales */
:root {
  --header-height: 3rem;
  --title-color: #ffffff;
  --title-color-dark: #000000;
  --text-color: #9fb8ad;
  --text-color-dark: #383e56;
  --button-color: #fb743e;
  --body-color: #f0f0f0;
  --container-color: #ffffff;

  /* Font and typography */

  --body-font: "Montserrat", sans-serif;

  /* .5rem = 8px | 1rem = 16px */

  --big-font-size: 3.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* Font weight */
  --font-normal: 400;
  --font-medium: 800;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  /* .5rem = 8px | 1rem = 16px */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
input{
  font-family: "Montserrat", sans-serif;
}
h1{
  font-size: var(--h1-font-size);
  text-align: center;
  margin: var(--mb-0-5);
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color:var(--text-color-dark);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
fieldset {
  border: none; /* Elimina el borde */
}

/* Responsive typography */

/* REUSABLE CSS CLASSES */


.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Buttons */

/* Estilos para el componente Button */
.buttons {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--button-color); /* Color de fondo principal */
  color: #fff; /* Color de texto principal */
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, box-shadow 0.2s;
  font-family: "Montserrat", sans-serif;
  margin: 10px auto;
  outline: none;
}

.buttons:hover {
  background-color: var(
    --text-color-dark
  ); /* Cambia el color de fondo en hover */
}

.buttons:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Agrega un borde al enfocar el botón */
}

/* BREAKPOINTS */


@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }

  .button {
    padding: 1rem 1.75rem;
  }
  .button__icon {
    width: 22px;
    height: 22px;
  }
}
.error-message {
  color: #e10909;
}
